  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #74c8ef;
    }
    
  h2 {
    text-align: center;
  }

  #loginPage, #homePage, #registerPage {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
  
  input[type="email"],
  input[type="password"], #username {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  input[type="email"]:hover,
  input[type="password"]:hover,
  #username:hover {
    border-color: #74c8ef; 
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
    background-color: #f0f8ff;
  }
  
  button {
    background-color: #7bb0d4;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  button:hover {
    background-color: #4c7b9b;
    transform: scale(1.07);
  }
  

  button:active{
    transform: scale(0.92);
  }


  .sticker-grid {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
  }
  
  .sticker {
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .sticker:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    cursor: pointer;
  }
  
  .sticker:active{
    transform:scale(0.95);
  }

  .sticker img {
    max-width: 100%;
    height: auto;
  }
  
  #stickerFile {
    margin-top: 20px;
  }

  .logo {
    display: block;
    margin: 0 auto 20px; 
    width: 100px;
    transition: transform 0.3s ease; 
    cursor: pointer;
  }

  .modal{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    display: none; 
    justify-content: center;
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  .modal-content{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px; 
    max-width: 80%; 
    height:400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 

  }

  .tradable {
    border: 3px solid #d4af37;
    background: linear-gradient(180deg, #f9e26b, #d4af37);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.8), /* Outer glow */
                inset 0 0 15px rgba(212, 175, 55, 0.5); /* Inner glow */
    transition: all 0.3s ease;
}

  .tradable:hover {
      box-shadow: 0 0 30px rgba(212, 175, 55, 1), 
                  inset 0 0 25px rgba(212, 175, 55, 0.8); 
      transform: scale(1.1);
  }

  .caption{
    padding-bottom: 10px;
  }

  .stickerCont{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
