body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  h2 {
    text-align: center;
  }
  
  #loginPage, #homePage {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  input[type="email"],
  input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #7bb0d4;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4c7b9b;
  }
  
  .sticker-grid {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
  }
  
  .sticker {
    width: 100px;  /* Fixed width */
    height: 100px; /* Fixed height */
    object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }
  
  .sticker img {
    max-width: 100%;
    height: auto;
  }
  
  #stickerFile {
    margin-top: 20px;
  }

  .logo {
    display: block;
    margin: 0 auto 20px; /* Center the image and add margin below */
    max-width: 100px;    /* Adjust the width of the image */
  }